body {
  margin: 0;
  height: 100%;
}

/* Navbar */

.top-row {
  background-color: #41a7b3;
  height: 5%;
  position: fixed;
  top: 0px;
  z-index: 3;
}

.logo {
  width: 15%;
  left: 35px;
  position: fixed;
  top: 0px;
  z-index: 4;
}

.navbar {
  background: 0.5;
  background-color: #41a7b3;
  padding: 1% 2% 1% 20%;
  /* keeps navbar elements at the top */
  position: fixed;
  top: 0px;
  width: 100%;
}

.nav-item {
  font-size: 20px;
  padding: 7px 25px;
}

a:hover {
  color: #e25d99;
}

.btn-style {
  background-color: #e25d99;
  color: #fff;
}

/* End of Navbar styles */

/* Main heading section */

#main-product-section {
  background-color: #048998;
}

.product-heading-row {
  padding: 10% 5%;
}

.iphone-image {
  width: 70%;
  position: absolute;
  left: 5%;
  transform: rotate(-15deg);
}

.main-heading {
  color: #fff;
  font-size: 4rem;
  line-height: 1.5;
  font-weight: bold;
}

.main-heading-subtitle {
  color: #fff;
  font-size: 4rem;
  line-height: 1.5;
  margin-right: 15%;
}

/* End of main heading section */

/* Features section */

#features {
  text-align: center; /* only applies to the p elements */
  margin: 0 2%;
  padding: 7% 3%;
}

/* block as a whole needs to be centered for items in it to be center-aligned */
.feature-column, .icon-row, .text-row {
  display: inline-block;
}

.text-row {
  margin: 10% 8% 0 8%;
}

.feature-heading {
  font-size: 40px;
  margin: 0 10%;
}

.feature-text {
  font-size: 20px;
  margin: 15%;
}

.feature-icon {
  color: #e25d99;
  padding: 10%;
}

/* Video section */
#video {
  background-color: #048998;
  text-align: center;
  padding: 4% 0;
}

.video-heading {
  color: #fff;
  font-size: 40px;
  margin-bottom: 2%;
}

.video-explanation {
  color: #aaaaaa;
  font-style: italic;
  margin-top: 2%;
}

/* Email section */
#form {
  text-align: center;
  padding: 3% 30%;
  z-index: -2;
}

.contact-heading {
  color: #e25d99;
  font-size: 40px;
  margin-bottom: 3%;
}

.contact-prompt {
  font-size: 20px;
  margin-bottom: 5%;
}

.submit-button-section {
  padding: 5% 0;
}

.submit-button {
  background-color: #41a7b3;
  color: #fff;
  padding: 1%;
  box-shadow: 0;
  cursor: pointer;
}

.submit-button:hover {
  background: #e25d99;
}

/* Footer */

footer {
  background-color: #048998;
  color: #fff;
  text-align: center;
  padding: 1.5% 0;
  /* makes the footer go all the way to the bottom of the page */
  width: 100%;
}

.footer-link {
  color: #444444;
  margin: 2%;
}

.footer-link:hover {
  color: #e25d99;
  text-decoration: none;
}

.copyright {
  margin: 1% 0;
}

.photo-credit {
  font-size: 0.6em;
}

/* media query */
@media(max-width: 1000px) {
  /*makes phone image disappear for screens with widths of 1000px or less */
  .iphone-image {
    width: 0%;
}
